.blog {
  display: flex;
  gap: 5%;
}
.main-content {
  width: 70%;
  /* background: #123; */
  padding: 30px;
  align-items: center;
  box-shadow: 2px 16px 41px -29px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 16px 41px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 16px 41px -29px rgba(0, 0, 0, 0.75);
}

.main-content .img-container img {
  width: 100%;
  object-fit: contain;
}
.main-content .blog-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.main-content .blog-info .admin,
.main-content .blog-info .date {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-style: italic;
}

.main-content .blog-title {
  margin-top: 20px;
}
.main-content .blog-title h1 {
  font-size: 35px;
  text-transform: capitalize;
}
.main-content .blog-desc {
  margin-top: 15px;
}
.main-content .blog-desc p {
  text-align: justify;
}
.side-content {
  margin-top: 5%;
  width: 25%;
  gap: 25px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
    padding: 20px;
  }
  .main-content .blog-title h1 {
    font-size: 25px;
    text-transform: capitalize;
  }
  .side-content {
    display: none;
  }
}
