.marketcontent {
  margin-top: 5rem;
}
.market-detail-content {
  display: flex;
  gap: 50px;
}
.market-detail-content img {
  width: 450px;
}
.market-info {
}
.market-info .market-name h1 {
  font-size: 320%;
  font-weight: 800;
}
.market-info .market-name h4 {
  font-size: 120%;
  margin-bottom: 10px;
}
.market-info .contact ul {
  display: flex;
  flex-direction: column;
}
.market-info .contact ul li {
  list-style: none;
  line-height: 28px;
}
.market-info .contact ul li a {
  font-size: 18px;
  font-weight: 600;
}
.market-info .socials {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}
.market-info .socials a {
  font-size: 26px;
}
.market-desc {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .market-detail-content {
    flex-direction: column;
  }
}
