.team {
  background: #f2f5f8;
}
.teamcard {
  position: relative;
  width: 100%;
  max-width: 200px;
  background: linear-gradient(#ff0000, #6b0505);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  filter: grayscale(50);
  -webkit-filter: grayscale(50);
  z-index: 1;
  overflow: hidden;
}
.teamcard:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.teamcard img {
  width: 100%;
}
.teamcard:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.5s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.teamcard .teamimg a {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  z-index: 999 !important;
}
.teamcard .teamimg a:hover {
  color: #0a66c2;
}
.team-details {
  position: relative;
  color: #fff;
  padding: 7px 15px;
}
.team-details h3 {
  font-size: 18px;
}
.team-details span {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  font-style: italic;
}
.team-details a span {
  margin-left: 3px;
}
team-socials {
  top: 10px;
  right: 0;
}
.team-socials a {
  font-size: 18px;
  margin-bottom: 0.5px;
}
@media screen and (max-width: 768px) {
  .teamcard {
    max-width: 300px;
  }
}
/* ----------------------------------------------------------TEAM DETAILS-------------------------------------------------- */
.member-card .leftside {
  width: 30%;
}
.member-card .rightside {
  width: 70%;
}
.member-card {
  display: flex;
  gap: 40px;
  margin: 20px 0px 100px;
}
.member-card .img {
  height: 350px;
  margin-bottom: 10px;
  overflow: hidden;
}
.member-card .img img {
  width: 100%;
  object-fit: cover;
}
.member-card .contact {
  display: flex;
  flex-direction: column;
}
.member-card .contact a {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.member-card .desc {
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #fff;
}
.member-card .desc h1,
.member-card .desc h4 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.member-card .socials {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}
.member-card .socials a {
  font-size: 25px;
}
.member-card .hobby {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  background: #eee;
  padding: 5px;
}
.member-card .hobby span {
  padding: 0px 6px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.member-card .hobby span:nth-child(1) {
  background: red;
}
.member-card .hobby span:nth-child(2) {
  background: green;
}
.member-card .hobby span:nth-child(3) {
  background: blue;
}
.member-card .hobby span:nth-child(4) {
  background: black;
}
.member-card .hobby span:nth-child(5) {
  background: brown;
}
.member-card .hobby span:nth-child(6) {
  background: rgb(91, 6, 78);
}
.member-card .hobby span:nth-child(7) {
  background: rgb(3, 60, 3);
}
.member-card .hobby span:nth-child(8) {
  background: rgb(154, 87, 6);
}
.member-card .hobby span:nth-child(9) {
  background: rgb(43, 7, 142);
}
.member-card .hobby span:nth-child(10) {
  background: rgb(5, 100, 102);
}
.hr {
  margin: 10px 0;
}
/* -----------------nav tab------------------------  */
.tab-navigation {
  position: relative;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #fff;
}
.tab-menu {
  max-width: 100%;
  white-space: nowrap;
  border-bottom: 1px solid #444;
  margin-bottom: 1.5rem;
  overflow-x: auto;
}
.tab-menu::-webkit-scrollbar {
  display: none;
}
.tab-btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  /* margin: 0 0.5rem; */
  padding: 8px;
  /* background: #e6e6e6; */
  cursor: pointer;
  user-select: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all 0.3;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
}
.tab-btn.active {
  border-bottom: 2px solid #970101;
  color: #970101;
}
@media screen and (max-width: 768px) {
  .member-card .leftside,
  .member-card .rightside {
    width: 100%;
  }
  .member-card {
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
  }
  .member-card .img {
    width: 100%;
    height: 350px;
    margin-bottom: unset;
    overflow: hidden;
  }
  .member-card .img img {
    width: 100%;
  }
}
